extends templates/layout.pug
  
block content
  h1.pagetitle Get your game on
  p Vi er så heldige å ha flotte spillutviklere som lar oss spille gratis videospill i skolen.
  p Installasjonsguide: <a href="https://docs.iktim.no/IKT/1-Programvare/Datarom-manualer/Nedlastning-av-spill-PC/" target="_blank">Windows</a>, <a href="https://docs.iktim.no/IKT/1-Programvare/Datarom-manualer/Nedlastning-av-spill-Mac/" target="_blank">MacOS</a>
  #game-grid
    each game, link in gameList
      a#game-grid-card(href=link)
        .game-card-cover
            img(src=game['cover'])
            .game-card-cover-info
                if game.players
                    .players
                        if game.players == 1
                            <i class="mdi mdi-account"></i><span class="playercount">#{game.players}</span>
                        else
                            <i class="mdi mdi-account-group" style="padding-right: 2px;"></i><span class="playercount">#{game.players}</span>
                .platforms
                    if game.url
                        <i class="mdi mdi-web"></i>
                    if game.win_dl
                        <i class="mdi mdi-microsoft-windows"></i>
                    if game.mac_dl
                        <i class="mdi mdi-apple"></i>
                    if game.linux_dl
                        <i class="mdi mdi-linux"></i>
                    if game.android_dl
                        <i class="mdi mdi-android"></i>
                if game.ttb
                    .ttb=game.ttb
        h1.game-title=game['title']
        if game['category']
          #game-card-categories
            each category in game['category']
              .game-card-category=category
